{% extends 'controller/base.html' %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1 class="h3 mb-3 fw-normal">Всего записей: {{ posts|length }}</h1>
        <a class="btn btn-primary mb-3"
           type="submit"
           href="{% url 'add' %}">Добавить запись
        </a>
        <div class="row mb-2">
            {% for i in posts %}
                <div class="col-md-3">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">{{ i.title }}</h3>
                            <div class="mb-1 text-muted">{{ i.pub_date }}</div>
                            <p class="card-text mb-auto">{{ i.description|truncatechars:10 }}</p>
                            <div class="mb-1 text-muted">{{ i.location }} </div>
                            <div>
                                <a class="btn btn-secondary w-40"
                                   type="submit"
                                   href="{% url 'view_post' i.slug %}">Посмотреть
                                </a>
                                <a class="btn btn-secondary w-40"
                                   type="submit"
                                   href="{% url 'delete_post' i.slug %}">Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <ul>
                    <li>У вас нет ни одного воспоминания</li>
                </ul>
            {% endfor %}
        </div>
    {% else %}
        <ul>
            <li>
                <a href="{% url 'login' %}" class="nav-link px-2 link-dark">Войдите на сайт чтобы видеть ваши
                    воспоминания</a>
            </li>
        </ul>
    {% endif %}
    <style>
        .btn-secondary {
            background-color: black;
        }
    </style>

{% endblock %}
