{% extends 'controller/base.html' %}

{% block title %}
    Профиль
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% for i in posts %}
            <div class="post post-id">
                <ul>
                    <li> {{ i }}</li>
                </ul>
            </div>
            {% empty %}
            <ul>
                <li>У вас нет ни одного воспоминания</li>
            </ul>
            <button>Добавить воспоминание</button>
        {% endfor %}
    {% else %}
        <ul>
            <li>
                <a href="{% url 'login' %}" class="nav-link px-2 link-dark">Войдите на сайт чтобы видеть ваши
                    воспоминания</a>
            </li>
        </ul>
    {% endif %}

{% endblock %}
